# PULSERED BACKEND ENVIRONMENT CONFIGURATION
PORT=4000
NODE_ENV=development

# PostgreSQL Database Connection URL (Prisma ORM)
DATABASE_URL="postgresql://postgres:password@localhost:5432/pulsered_db?schema=public"

# JWT Secret Keys
JWT_SECRET="pulsered_super_secret_jwt_key_998877665544332211"

# CORS Configuration
ALLOWED_ORIGIN="http://localhost:8080"
